.client-page{
  margin: 0 5px;
  .list-header{
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 0;
    .list-title{
      color: #666;
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }
  .list-content{
    margin: 5px 0;
    .list-item{
      color: $base-grey;
    }
    .action{
      margin-right: 15px;
      text-align: right;
    }
  }
  .client-add-icon {
    cursor: pointer;
    font-size: 35px;
    justify-content: center;
    text-align: center;
  }
  .label-select {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
  }
  .item-select select {
    line-height: 1.1;
    max-width: 100%;
  }
  .select-position-adjust {
    height: 15px;
  }
  .bar-base-yellow{
    background-color: $base-yellow !important;
  }
  .title{
    color: $white !important;
  }
}

.footer-client-container {
  display: block;
  text-align: center;
}
